body{
    background-color:  hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Figtree, sans-serif;

}
.card{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5vb;
    gap: 15px;
    max-width: 300px;
    box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
}
.pic img{
    border-radius: 10px;
    width: 300px;
}
.btn-learning{
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 0.8rem;
    color: hsl(0, 0%, 7%);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
}
.date{
    margin: 0;
    font-size: 0.8rem;
    color: hsl(0, 0%, 7%);
    font-weight: 600;

}
h2{
    margin:0;
    cursor: pointer;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    font-size: 1.4rem;
}
.description{
    margin: 0;
    font-size: 0.95rem;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}
.person{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.person img{
    width:30px;
    height: fit-content;
}
.person p{
    margin: 0;
    font-weight: 800;
    font-size: 0.8rem;
    color: hsl(0, 0%, 7%);

}

.avatar{
    width: 30px;
    height: 30px;
}